[submodule "tree-sitter-zig"]
	path = tree-sitter-zig
	url = https://github.com/maxxnino/tree-sitter-zig
[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/xflow-systems/tree-sitter
